# Ignore virtual environments
venv/
__pycache__/

# Ignore model files and datasets
fine_tuned_model/
data.json

# Ignore logs and cache
*.log

# Ignore LLM file
my_llm/

#Ignore Essay doc file
Doc/Large_Language_Models_Essay.docx
